{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product_show', { id: product.id }) }}">
                    {{ product.name }} - {{ product.price }}€
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
